# Run certbot renewal twice daily between 1am and 2am and between 1pm and 2pm.
# min	hour	day	month	weekday	command
0	1,13	*	*	*	python3 -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew


